<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="style.css" />
        <title>Arizona.com.br</title>
    </head>
      
    <body>
     <div class="grid-container">
         <header class="row">
             <div>
                 <a class="brand" href="index.html">arizona</a>
             </div>
             <div>
                 <a href="cart.html">Carrinho</a>
                 <a href="signin.html">Faça seu login</a>
             </div>
         </header>
         <main>
             <ul>
                 <li>Produto 1</li>
                 <li>Produto 2</li>
                 <li>Produto 3</li>
                 <li>Produto 4</li>
             </ul>
         </main>
         <footer class="row center">
            Arizona Serviços de Varejo Online Ltda. | CNPJ 32.950.471/0001-57<br>
            Av. Ana Costa, 2048, Torre F, 16° andar - Santos - SP | Fale conosco<br>
            <br>Todos os direitos reservados.
         </footer>
     </div>
    </body>
</html>