<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <title>Arizona</title>
    </head>
      
    <body>
     <div class="grid-container">
         <header>
             <div>
                 <a href="index.html">Arizona</a>
             </div>
             <div>
                 <a href="cart.html">Carrinho</a>
                 <a href="signin.html">Faça seu login</a>
             </div>
         </header>
         <main>
             <ul>
                 <li>Produto 1</li>
                 <li>Produto 2</li>
                 <li>Produto 3</li>
                 <li>Produto 4</li>
             </ul>
         </main>
         <footer>Todos os direitos reservados.</footer>
     </div>
    </body>
</html>